{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %} About Fly On Time {% endblock %}
{% block title %} <h2><i>About Fly On Time</i></h2>  {% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
<body>
<h3>Objective</h3>
<p>Fly On Time (FlightOnTimeInfo.com) utilizes the U.S. government's Open Data initiatives to provide a free service to consumers. Using historical on-time performance data, the site aims to encourage consumers to make better decisions when planning travel. Arrive In Time believes that understanding the likelihood of delays or cancellations at specific airports and/or airlines can only empower travelers and provide a more efficient travel experience. Your time is money; avoiding delays and cancellations lowers your <a href="http://www.slate.com/articles/double_x/doublex/2013/02/time_is_money_opportunity_cost_can_help_you_figure_out_how_much_your_time.html/">opportunity cost </a> and allows you to use your time as you like.</p>
<h3>Data Sources</h3>
<p>Historical On-Time Performance data is collected from the Bureau of Transportation Statistics and exposed to the public by the <a href="http://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&amp;DB_Short_Name=On-Time"> The Research and Innovative Technology Administration</a>. 
Some airport-specific information is determined from Google Places API.
</br></br>
Fly On Time is currently based on data from {{start_date}} to {{end_date}}</p>

<h3>This site was built using a handful of open source platforms including:</h3>
<ul>
<li><a href="https://www.djangoproject.com/">Django Project</a>- a Python web framework</li>
<li><a href="http://www.highcharts.com/">HighCharts</a> - a charting library offering intuitive, interactive charts to your web site or web application.</li>
<li><a href="http://chartit.shutupandship.com/">Chartit</a> - an integration between Django and Highcharts</li>
<li><a href="https://developers.google.com/maps/">Google Maps API</a></li>
</ul>
<h3>Contact</h3>
<p>Questions, comments, or suggestions can be sent to <a href="mailto:contact@flightontimeinfo.com">contact@flightontimeinfo.com</a></p>
</body>
{% endblock %}
<!-- {% block left_panel %}


{% endblock %} -->
