{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Airlines On-Time Performance" %}{% endblock %}
{% block title %}{% trans "Airlines On-Time Performance" %}{% endblock %}
{% block meta_keywords %}US Airline On-Time Performance Routes Lookup Flights Delays Cancellation{% endblock %}

{% block main %}
<body>

<table cols = "2",cellpadding = 1px, border = "0">
	<table width = "65%", align = "left">
	<tr><td>
		<h3> Airlines On-Time Performance </h3>
		<p> On-Time Performance for U.S. Airlines is determined by factors which are in the control of airlines.  The Bureau
		of Transportation Statistics dataset contains the causes of delays and cancellations which can be attributed to  
		U.S. airlines and airports.  Delayed flight causes labeled as "late aircraft delay" or "carrier delay" are attributed to 
		airline on-time performance.  Cancellations labeled as "carrier" are also attributed to airlines. </br> </br>
		In this way consumers can compare U.S. carriers for on-time performance before planning their trips. </p>
		<h3> Airline Performance Scores (P-Scores)</h3>
		<p>
		U.S. Airline Performance Scores (P-Scores) are determined by calculating the rate of delays, average length of delay,
		and rate of cancellations attributed to a given airline.  The impact of a cancellation is also given more weight (equivalent to 
		a 12 hour delay time) as compared to a delay.  
		
		This way U.S. Airline performance can be compared or ranked. </br>
		<ul> 
			<li><a href= /airlines/airlines-summary/>Airlines On-Time Performance Summary</a> </li>
			<li><a href= /airlines/best-performing-airlines/>Top Performing Airlines</a> </li>
			<li><a href= /airlines/worst-performing-airlines/>Bottom Performing Airlines</a> </li>
			<li><a href= /airlines/airlines-3-month-trends/>3 Month Airline On-Time Performance Trends</a> </li>
		</ul>
		</p>
	</tr></td>
	</table>
	<table width = "30%", align = "right">
	<tr><td>
	<h4> Compare Airlines </h4>
	</tr></td>
		<tr><td>
		<form action="" method="post">
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {% for error in form.airline1.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select 1st Airline:</label>
        {{ form.airline1 }}
    </div>
    <div class="fieldWrapper">
        {% for error in form.airline2.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select 2nd Airline:</label>
        {{ form.airline2 }}
    </div>
    <input type="submit" value="Submit" />
</form>
		</tr></td>
	</table>
</table>
</body>
{% endblock %}
