{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
  <body>
  {% if flights %}
	<h3> {{title2}} </h3>
	 <h3> <a href={{origin_link}}>{{origin}}</a> To <a href={{dest_link}}>{{dest}}</a> </h3>
	<table cols = "2",cellpadding = 5px, border = "0">
	<tr bgcolor="#DDE2E0">
	<td width = "350px" align="left"><h4> Cancellation Rate </h4></td> <td width="100px" align="right"><h4> {{crate}} %</h4></td> 
	</tr>
	<tr>
	<td width = "350px" align="left"><h4> Delay Rate </h4></td> <td width="100px" align="right"><h4> {{drate}} %</h4></td> 
	</tr>
	<tr bgcolor="#DDE2E0">
	<td width = "350px" align="left"><h4> Average Length of Delay </h4></td> <td width="100px" align="right"><h4> {{dtime}} Minutes</h4></td> 
	</tr>
	</table>
	</br>
	<h3> {{title3}} </h3>
	<table cellpadding = 5px, border = "0">
		<th align="left" width="200px"><h4> Airline </h4></th> <th align="right" width="150px"><h4> Delay Rate </h4></th> 
		<th align="right" width="150px"><h4> Average Delay</h4></th> <th align="right" width="150px"><h4> Cancellation Rate</h4></th> 
		{% for e in flights %}
			<tr bgcolor="{% cycle '#DDE2E0' '' %}">
				<td width = "200px" align="left"><h5> <a href={{e.4}}>{{e.0}}</a> </h5></td> <td width="100px" align="right"><h5> {{e.1}} %</h5></td> 
				<td width="150px" align="right"><h5> {{e.3}} Minutes</h5></td> <td width="100px" align="right"><h5> {{e.2}} %</h5></td> 
			</tr>
		{% endfor %}
	</table>
	{% else %}
	<h3> There are no flights for this route </h3>
	{% endif %}
	</br>
	

</body>
{% endblock %}