{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Airport Route Performance Lookup" %}{% endblock %}
{% block title %}{% trans "Airport Route Performance Lookup" %}{% endblock %}

{% block main %}
  <body>
  <form action="" method="post">{% csrf_token %}
    <div class="fieldWrapper">
        {% for error in form.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in form.origin_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Origin Airport:</label>
        {{ form.origin_airport }}
    </div>
    <div class="fieldWrapper">
          {% for error in form.destination_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select Destination Airport:</label>
        {{ form.destination_airport }}
    </div>
    <input type="submit" value="Submit" />
</form>
</body>
{% endblock %}