{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
  <body>
  <table border = "0">
  <h3>
  {{title2}}
  </h3>
	<th align="left"><h4> {{Category}}</h4></th> <th><h4>Delay Rate</h4></th> <th><h4>Average Delay</h4></th> <th><h4> Cancellation Rate</h4></th> <th><h4> P-Score </h4></th>
	
	<tr bgcolor="#DDE2E0">
	<td><h5> <a href={{link1}}>{{air1_title}}</a> </h5></td> <td align="right"><h5> {{air1_delays}}% </h5></td> <td align="right"><h5>{{air1_delay_time}} minutes </h5></td> <td align="right"><h5> {{air1_can}}%</h5></td> <td align="right"><h5> {{air1p}} </h5></td>
	</tr>
	<tr>
	<td><h5> <a href={{link2}}>{{air2_title}}</a> </h5></td> <td align="right"><h5> {{air2_delays}}% </h5></td> <td align="right"><h5>{{air2_delay_time}} minutes </h5></td> <td align="right"><h5> {{air2_can}}%</h5></td> <td align="right"><h5> {{air2p}} </h5></td>
	</tr>
	</table>


  </body>
 
{% endblock %}
