{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
  <body>
  <h2>
  {{air1_title}}
  </h2>
  <h3>
	Airport Delay Rate {{air1_delays}}% </br>
	Average Length of Delay {{air1_delay_time}} minutes </br>
	Airport Cancellations Rate {{air1_can}}% </br>
  </h3>
  
   <h2>
  {{air2_title}}
  </h2>
  <h3>
	Airport Delay Rate {{air2_delays}}% </br>
	Average Length of Delay {{air2_delay_time}} minutes </br>
	Airport Cancellations Rate {{air2_can}}% </br>
  </h3></br>
  </body>
{% endblock %}
