{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Airlines Comparison" %}{% endblock %}
{% block title %}{% trans "Airlines Comparison" %}{% endblock %}

{% block main %}
  <body>
  <form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {% for error in form.airline1.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select 1st Airline:</label>
        {{ form.airline1 }}
    </div>
    <div class="fieldWrapper">
        {% for error in form.airline2.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select 2nd Airline:</label>
        {{ form.airline2 }}
    </div>
    <input type="submit" value="Submit" />
</form>
</body>
{% endblock %}
