{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block meta_keywords %}{{meta}}{% endblock %}

{% block extra_head %}
{% load staticfiles %}
{% if cht_list %}
{% endif %}
{% endblock %}

{% block main %}
<body>
{{airline}}
{% if airlineName and not airportName%}
		
		<div>
		<h3> Airline Information <img STYLE="border: none;" src={% static logo %} width=200 height=250 /></h3>
			<table cols = "2",cellpadding = 1px, border = "0">
				<table width = "55%", align = "left">
					<tr bgcolor="#DDE2E0">
					<td  align="left"><h5> Headquarters </h5></td> <td  align="right"><h5> {{infobox.0}} </h5></td> 
					</tr>
					<tr>
					<td align="left"><h5> Frequent Flyer Program </h5></td> <td  align="right"><h5> {{infobox.1}} </h5></td> 
					</tr>
					<tr bgcolor="#DDE2E0">
					<td align="left"><h5> Airport Lounge </h5></td> <td  align="right"><h5> {{infobox.2}} </h5></td> 
					</tr>
					<tr>
					<td align="left"><h5> Website </h5></td> <td  align="right"><h5> <a href=http://{{infobox.3}}>{{infobox.3}}</a> </h5></td> 
					</tr>
				</table>
				<table width = "40%", align = "right">
					<tr>
					<td align="left"><h5> Airport Hubs </h5></td> <td  align="left"><h5><ul>
						{% for e in ahubs %}
						<li><h5> <a href={{e.1}}>{{e.0}}</a>  </h5></li>
						{% endfor %}
					</h5></ul></td> 
					</tr>
				</table>
			</table>

		</div>
	<table width = "100%">
	<table cols = "2",cellpadding = 5px, border = "0" >
	<th><h3> On-Time Performance Summary </h3></th>
  	<tr bgcolor="#DDE2E0">
	<td width = "35%" align="left"><h4> Cancellation Rate </h4></td> <td width="30%" align="right"><h4> {{airlineCanRate}} %</h4></td> 
	</tr>
	<tr>
	<td width = "70%" align="left"><h4> Delay Rate </h4></td> <td width="30%" align="right"><h4> {{airlineDelayRate}} %</h4></td> 
	</tr>
	<tr bgcolor="#DDE2E0">
	<td width = "70%" align="left"><h4> Average Length of Delay </h4></td> <td width="30%" align="right"><h4> {{airlineDelayTime}} Minutes</h4></td> 
	</tr>
	<tr>
	<td width = "70%" align="left"><h4><strong> On-Time P-Score </strong></h4></td> <td width="30%" align="right"><h4> {{airlinePscore}}</h4></td> 
	</tr>
  </table>
  </table></br>
	<h2> On-Time Performance is better than {{airlineStanding}} % of airlines based on P-Scores</h2></br>
	{% endif %}
	
{% if airportName and not airlineName %}
	
	<div>
		<h3> Airport Information </h3>
			<table cols = "2",cellpadding = 1px, border = "0", align = "left">
				<table width = "55%", align = "left">
					<tr bgcolor="#DDE2E0">
					<td  align="left"><h5> City Served</h5></td> <td  align="right"><h5> {{infobox.0}} </h5></td> 
					</tr>
					<tr>
					<td align="left"><h5> Airport Elevation </h5></td> <td  align="right"><h5> {{infobox.1}} </h5></td> 
					</tr>
					<tr bgcolor="#DDE2E0">
					<td align="left"><h5> Time Zone </h5></td> <td  align="right"><h5> {{infobox.2}} </h5></td> 
					</tr>
					<tr>
					<td align="left"><h5> Website </h5></td> <td  align="right"><h5> <a href={{infobox.3}}>{{infobox.3}}</a> </h5></td> 
					</tr>
				</table>
				<table width = "40%", align = "right">
					<img STYLE="border: none;" src={{static_map}} width=300 height=300 />
					
				</table>
			</table>
	</div>
	<table width = "100%">
	<table cols = "2",cellpadding = 5px, border = "0">
	<th><h3> On-Time Performance Summary </h3></th>
  	<tr bgcolor="#DDE2E0">
	<td width = "70%" align="left"><h4> Cancellation Rate </h4></td> <td width="30%" align="right"><h4> {{airportCanRate}} %</h4></td> 
	</tr>
	<tr>
	<td width = "70%" align="left"><h4> Delay Rate </h4></td> <td width="30%" align="right"><h4> {{airportDelayRate}} %</h4></td> 
	</tr>
	<tr bgcolor="#DDE2E0">
	<td width = "70%" align="left"><h4> Average Length of Delay </h4></td> <td width="30%" align="right"><h4> {{airportDelayTime}} Minutes</h4></td> 
	</tr>
	<tr>
	<td width = "70%" align="left"><h4><strong> On-Time P-Score </strong></h4></td> <td width="30%" align="right"><h4> {{airportPscore}}</h4></td> 
	</tr>
  </table>
  </table></br>
	<h3> On-Time Performance is better than {{airportStanding}} % of airports based on P-Scores</h3></br>
{% endif %}
	
{% if airlineName and airportName %}
	<h3> {{title2}} </h3>
	<table cols = "2",cellpadding = 5px, border = "0">
	<tr bgcolor="#DDE2E0">
	<td width = "350px" align="left"><h4> Cancellation Rate </h4></td> <td width="100px" align="right"><h4> {{cansRate}} %</h4></td> 
	</tr>
	<tr>
	<td width = "350px" align="left"><h4> Delay Rate </h4></td> <td width="100px" align="right"><h4> {{delaysRate}} %</h4></td> 
	</tr>
	<tr bgcolor="#DDE2E0">
	<td width = "350px" align="left"><h4> Average Length of Delay </h4></td> <td width="100px" align="right"><h4> {{delaysAvg}} Minutes</h4></td> 
	</tr>
	</table>
	</br>
	<table border = "0">
  <h3>
  Airline and Airport Individual On-Time Performance
  </h3>
	<th align="left"><h4> Airline/Airport</h4></th> <th><h4>Delay Rate</h4></th> <th><h4>Average Delay Length</h4></th> <th><h4> Cancellation Rate</h4></th> <th><h4> P-Score </h4></th>
	
	<tr bgcolor="#DDE2E0">
	<td><h5> <a href={{airport_link}}>{{airportName}}</a> </h5></td> <td align="right"><h5> {{airportDelayRate}}% </h5></td> <td align="right"><h5>{{airportDelayTime}} minutes </h5></td> <td align="right"><h5> {{airportCanRate}}%</h5></td> <td align="right"><h5> {{airportPscore}} </h5></td>
	</tr>
	<tr>
	<td><h5> <a href={{airline_link}}>{{airlineName}}</a> </h5></td> <td align="right"><h5> {{airlineDelayRate}}% </h5></td> <td align="right"><h5>{{airlineDelayTime}} minutes </h5></td> <td align="right"><h5> {{airlineCanRate}}%</h5></td> <td align="right"><h5> {{airlinePscore}} </h5></td>
	</tr>
	</table>
{% endif %}	
	 {% if Message %}
	 <h2>{{Message}}</h2></br>
	 </br>
	 <h4><a href=/lookups/>Search again</a></h4>
	 {% endif %}
  </body>
{% endblock %}
