{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Flight Performance Lookup" %}{% endblock %}
{% block title %}{% trans "Flight Performance Lookup" %}{% endblock %}

{% block main %}

<form action="" method="post">{% csrf_token %}
    <div class="fieldWrapper">
        {% for error in form.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in form.airline.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Airline:</label>
        {{ form.airline }}
    </div>
    <div class="fieldWrapper">
          {% for error in form.flight_number.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Flight Number:</label>
        {{ form.flight_number }}
    </div>
    <input type="submit" value="Submit" />
		</div>
</form>

  <body>
 
</body>
{% endblock %}