{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
  <body>
  
  <h3> {{title2}} </h3>
  <h3> <a href={{airline_link}}>{{airline}}</a> Flight {{flight}} </h3>
	<table cols = "2",cellpadding = 5px, border = "0">
	<tr bgcolor="#DDE2E0">
	<td width = "350px" align="left"><h4> Cancellation Rate </h4></td> <td width="100px" align="right"><h4> {{crate}} %</h4></td> 
	</tr>
	<tr>
	<td width = "350px" align="left"><h4> Delay Rate </h4></td> <td width="100px" align="right"><h4> {{drate}} %</h4></td> 
	</tr>
	<tr bgcolor="#DDE2E0">
	<td width = "350px" align="left"><h4> Average Length of Delay </h4></td> <td width="100px" align="right"><h4> {{dtime}} Minutes</h4></td> 
	</tr>
	</table>
	</br>
  {% if flights %}
	<table border = "0">
		<h3> Routes Served by {{airline}} flight {{flight}} </h3>
		<th align="left"><h4> Origin </h4></th> <th align="left"><h4>Destination</h4></th>
		{% for e in flights %}
			<tr bgcolor="{% cycle '#DDE2E0' '' %}">
				<td width = "300px" align="left"><h5> <a href={{e.2}}>{{e.0}}</a>  </h5></td> <td width="300px" align="left"><h5> <a href={{e.3}}>{{e.1}}</a> </h5></td>
		{% endfor %}
	</table>
	
	{% endif %}

</body>
{% endblock %}