{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %} {{title}}{% endblock %}
{% block meta_keywords %}
airline delays statistics, airport delays statistics,
airline cancellations statistics, airport cancellations statistics
Fly on time,
on time flight statistics, performance,
airline information, airport information,
on time flight performance,
on time flight statistics,
on time flight trends,
flight delay causes, flight cancellation causes
flight delay history, 
flight cancellation history
{% endblock %}
{% block title %} <h2><i>Be Informed, Avoid Flight Delays and Fly On Time</i></h2>  {% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
<body>
<table cols = "1",cellpadding = 1px, border = "0">
	<table>
		<tr><td  align="left">
		<h3> Getting Started </h3>	
		<p> 
		Do you know the causes of flight delays and cancellations are tracked for both airports and airlines?
		Save travel time by understanding the likelihood of delays and cancellations attributed to 
		<a href= /airlines/>Airlines</a> and to <a href= /airports/>Airports</a>.</br>
		</br>
		Optimize your trip by knowing the <a href= /airlines/best-performing-airlines/>best</a> and  <a href= /airlines/worst-performing-airlines/>worst</a> airlines or the 
		<a href= /airports/best-performing-airports/>best</a> and  <a href= /airports/worst-performing-airports/>worst</a> airports to plan your trip.</br>
		</br>
		Anticipate delays by using the <a href= /lookups/>Airline and Airport </a>combinations, routes, or airline flights lookup.   
		</p>		
		</td></tr>
<tr><td  align="left">
<h3> Lookup On-Time Performance for airlines, airports, airline/airport combinations, routes, or flights  </h3>

<div data-role="collapsible-set">

    <div data-role="collapsible" data-collapsed="false">
    <h3>Lookup Airlines/Airports</h3>
    <div>
	<form action="/lookups/airlineairport-lookup/" method="post">
      <table>
        <tr>
          <td>
            {{ Form1.as_p }}
          </td>
        </tr>
      </table>
      <input type="submit" name="air_lookup" value="Submit">
	</form>
	</div>
    </div>
    
    <div data-role="collapsible">
    <h3>Lookup Routes</h3>
    <div>
<form action="/lookups/route-lookup/" method="post">
    <div class="fieldWrapper">
        {% for error in Form2.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in Form2.origin_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Origin Airport:</label>
        {{ Form2.origin_airport }}
    </div>
    <div class="fieldWrapper">
          {% for error in Form2.destination_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select Destination Airport:</label>
        {{ Form2.destination_airport }}
    </div>
    <input type="submit" name="routes_lookup" value="Submit" />
	</div>
</form>
</div>
    </div>
	
	<div data-role="collapsible">
    <h3>Lookup Flights</h3>
    <div>
<form action="/lookups/flight-lookup/" method="post">
    <div class="fieldWrapper">
        {% for error in Form3.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in Form3.airline.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Airline:</label>
        {{ Form3.airline }}
    </div>
    <div class="fieldWrapper">
          {% for error in Form3.flight_number.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Flight Number:</label>
        {{ Form3.flight_number }}
    </div>
		<input type="submit" name="flights_lookup" value="Submit" />
	</div>
</form>
</div>
    </div>
    
</div>

</td></tr>
	</table>

</table>
</body>
{% endblock %}
<!-- {% block left_panel %}


{% endblock %} -->
