{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "On-Time Performance Lookups" %}{% endblock %}
{% block title %}{% trans "On-Time Performance Lookups" %}{% endblock %}
{% block meta_keywords %}Airline Airport On-Time Performance Routes Lookup Flights Delays Cancellation{% endblock %}

{% block extra_head %}
 <meta charset="utf-8" />
<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
{% endblock %}

{% block main %}

<h4> Lookup On-Time Performance for airlines, airports, airline/airport combinations, routes, or flights  </h4>

<body>
<div id="tabs">
<ul>
<li><a href="#air_lookup">Lookup Airlines/Airports</a></li>
<li><a href="#routes_lookup">Lookup Routes</a></li>
<li><a href="#flights_lookup">Lookup Flights</a></li>
</ul>
<div id="air_lookup">

	<form action="/lookups/airlineairport-lookup/" method="post">{% csrf_token %}
      <table>
        <tr>
          <td>
            {{ Form1.as_p }}
          </td>
        </tr>
      </table>

      <input type="submit" name="air_lookup" value="Submit">
	</form>
</div>

<div id="routes_lookup">
<form action="/lookups/route-lookup/" method="post">{% csrf_token %}
    <div class="fieldWrapper">
        {% for error in Form2.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in Form2.origin_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Origin Airport:</label>
        {{ Form2.origin_airport }}
    </div>
    <div class="fieldWrapper">
          {% for error in Form2.destination_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select Destination Airport:</label>
        {{ Form2.destination_airport }}
    </div>
    <input type="submit" name="routes_lookup" value="Submit" />
	</div>
</form>
</div>

<div id="flights_lookup">
<form action="/lookups/flight-lookup/" method="post">{% csrf_token %}
    <div class="fieldWrapper">
        {% for error in Form3.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in Form3.airline.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Airline:</label>
        {{ Form3.airline }}
    </div>
    <div class="fieldWrapper">
          {% for error in Form3.flight_number.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Flight Number:</label>
        {{ Form3.flight_number }}
    </div>
		<input type="submit" name="flights_lookup" value="Submit" />
	</div>
</form>
</div>
</div>
</body>

{% endblock %}