{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "On-Time Performance Lookups" %}{% endblock %}
{% block title %}{% trans "On-Time Performance Lookups" %}{% endblock %}
{% block meta_keywords %}Airline Airport On-Time Performance Routes Lookup Flights Delays Cancellation{% endblock %}

{% block extra_head %}
 {% endblock %}

{% block main %}

<h4> Lookup On-Time Performance for airlines, airports, airline/airport combinations, routes, or flights  </h4>

<body>
<div data-role="collapsible-set">

    <div data-role="collapsible" data-collapsed="false">
    <h3>Lookup Airlines/Airports</h3>
    <div>
	<form action="/lookups/airlineairport-lookup/" method="post">
      <table>
        <tr>
          <td>
            {{ Form1.as_p }}
          </td>
        </tr>
      </table>
      <input type="submit" name="air_lookup" value="Submit">
	</form>
	</div>
    </div>
    
    <div data-role="collapsible">
    <h3>Lookup Routes</h3>
    <div>
<form action="/lookups/route-lookup/" method="post">
    <div class="fieldWrapper">
        {% for error in Form2.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in Form2.origin_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Origin Airport:</label>
        {{ Form2.origin_airport }}
    </div>
    <div class="fieldWrapper">
          {% for error in Form2.destination_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select Destination Airport:</label>
        {{ Form2.destination_airport }}
    </div>
    <input type="submit" name="routes_lookup" value="Submit" />
	</div>
</form>
</div>
    </div>
	
	<div data-role="collapsible">
    <h3>Lookup Flights</h3>
    <div>
<form action="/lookups/flight-lookup/" method="post">
    <div class="fieldWrapper">
        {% for error in Form3.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in Form3.airline.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Airline:</label>
        {{ Form3.airline }}
    </div>
    <div class="fieldWrapper">
          {% for error in Form3.flight_number.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Flight Number:</label>
        {{ Form3.flight_number }}
    </div>
		<input type="submit" name="flights_lookup" value="Submit" />
	</div>
</form>
</div>
    </div>
    
</div>
</body>

{% endblock %}