{% extends "mobile/base.html" %}
{% load i18n %}

{% block meta_title %} Terms of Use {% endblock %}
{% block title %} <h2><i>Terms of Use </i></h2>  {% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
<body>
<p>The use of Fly On Time (flightontimeinfo.com) signifies your agreement with the following terms of use. If you do not agree with any of these terms of use, please do not use 
this site. <br /><br />
<strong>DISCLAIMERS</strong>
<br />By using this web site, you agree to indemnify Arrive In Time, its officers, directors, employees,
 agents, distributors and affiliates for any and all claims, damages, losses and causes of action arising out of your breach or alleged breach
 of this agreement.<br /><br />THE MATERIALS ON THIS SITE ARE TRANSMITTED AND DISTRIBUTED "AS IS" AND APPEAR ON THE SITE WITHOUT EXPRESS OR 
 IMPLIED WARRANTIES OF ANY KIND. ARRIVE IN TIME MAKES NO WARRANTY AS TO THE QUALITY, ACCURACY, COMPLETENESS AND VALIDITY OF ANY INFORMATION ON THE WEB 
 SITE AND DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED ON THE WEB SITE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS WILL BE CORRECTED.<br /><br />
 <strong>AFFILIATION</strong><br />Fly On Time is not affiliated with any entity.</p>
</body>
{% endblock %}
<!-- {% block left_panel %}


{% endblock %} -->
