{% load pages_tags mezzanine_tags i18n future %}
<!doctype html>
<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <title>{% block meta_title %}{% endblock %}</title>

    <link rel="apple-touch-icon" href="" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/global-mobile.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mobile-1.3.1.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.mobile.css" type="text/css"/>
    <script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
    <script src="{{ STATIC_URL }}js/jquery.mobile-1.3.1.min.js"></script>

    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}{% endblock %}">
<div data-role="page" data-theme="d">
    <div data-role="header">
        <h1>{% block title %}{% endblock %}</h1>
        <a class="home" data-role="button" data-icon="home" href="/">Home</a>
    </div>

    <!--{% page_menu "pages/menus/mobile.html" %}-->
	
{% spaceless %}
{% if page_branch %}
{% for page in page_branch %}

	{% if page.is_primary and forloop.first %}
	<nav>
    <ul class="mobile-menu" data-role="navbar" data-inset="true" type="none">
    {% endif %}

		{% if page.is_current_or_ascendant and not page.is_child %}
		{% page_menu page %}
		{% endif %}

		{% if page.is_child %}
		<li class="
			{% if forloop.first %} first{% endif %}
			{% if forloop.last %} last{% endif %}"
			id="mobile-menu-{{ page.html_id }}">
			<a href="{{ page.get_absolute_url }}" rel="external" >{{ page.title }}</a>
		</li>
		{% endif %}

	{% if page.is_primary and forloop.last %}
	</ul></nav>
	{% endif %}
{% endfor %}
{% endif %}
{% endspaceless %}

    <div data-role="content">
        {% block main %}{% endblock %}
    </div>

    <!--<div data-role="footer">
        <div data-role="content" align="center">
            <p><a href="?flavour=full">View Full Site</a></p>
        </div>
    </div>-->
    <div data-role="footer">
        <div data-role="content" align="center">
            <p><a href="{% url "set_device" "default" %}?next={{ request.path }}" rel="external">{% trans "View Full Site" %}</a></p>
        </div>
    </div>
</div>


{% include "mobile/includes/footer_scripts.html" %}

</body>
</html>

