{% extends "base.html" %}

{% load i18n future mezzanine_tags %}

{% block meta_title %}{% trans "Search Results" %}{% endblock %}
{% block title %}{% trans "Search Results" %}{% endblock %}

% block main %}
<body>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Delays in Minutes
          </td>
          <td>
            <input type="text" name="airline_delays_mins" value="{{airline_delays_mins}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Airline
          </td>
          <td>
            <input type="airline" name="airline" value="{{airline}}">
          </td>
        </tr>
		
		 <tr>
          <td class="label">
            Total Delays
          </td>
          <td>
            <input type="total_delays" name="total_delays" value="{{total_delays}}">
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>
  </body>

{% endblock %}
