

img {box-shadow:0 0 0px ;
	padding: 5px 5px 5px 50px;
}

h1 {margin-left: 40px;}
h3 {color:#315B7E}
h2 {color:#315B7E}
td {padding:0px 15px 0px 5px;}
th {padding:0px 15px 0px 5px;}

.span7 {
  width: 90%;
  margin-left: 60px;
  background-color: white;
  padding: 15px;
  border-style:solid;
  border-width:1px;
  border-color: #a2bbfb;
  border-radius: 10px 10px;
  }
  
.errorlist {
	color: red;
}
  
  .navbar-inverse .navbar-inner {
    background-color: white;
    background-image: linear-gradient(to bottom, #315B7E, #4682B4);
    background-repeat: repeat-x;
    border-color: #252525;
}

.title {
	background-color: white;
    z-index: 500;
    margin-bottom: 5px;
    overflow: visible;
}

.title .container {
    width: auto;
}

.title .brand, .title .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.title .brand {
    color: #333333;
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 200;
    margin-left: 20px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.navbar .brand {
    color: #E5E4E2;
    display: block;
    float: left;
    font-size: 25px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

body {
    color: #555555;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #315B7E;
    color: #FFFFFF;
}
	
.tagline {
    color: #E5E4E2;
    float: left;
    font-size: 15px;
    font-style: italic;
    margin: 9px 5px 0 -4px;
    opacity: 0.5;
}

.navbar-inverse .divider-vertical {
    border-left-color: #315B7E;
    border-right-color: #4682B4;
	}
	
.dropdown active {
    border-left-color: #00306D;
    border-right-color: #00306D;

}

.navbar .nav > li {
    float: center;
}

.navbar-inverse .btn-navbar {
    background-color: #676767;
    background-image: linear-gradient(to bottom, #488AC7, #3E80BD);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #676767;
  background-color: #676767;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #488AC7;
	
