#mobilemenu ul { list-style-type: none;}

.ui-bar-d {
    background: -moz-linear-gradient(center top ,  #315B7E, #4682B4) repeat scroll 0 0 #4682B4;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #333333;
}

.ui-bar-a {
    background: linear-gradient(#315B7E, #4682B4) repeat scroll 0 0 #4682B4;
    border: 1px solid #333333;
    color: #FFFFFF;
    font-weight: 700;
    text-shadow: 0 -1px 0 #000000;
}

.ui-btn-up-a {
    color: #4682B4;
    font-weight: 700;
    text-shadow: 0 1px 0 #FFFFFF;
	border: 1px solid #111111;
}

.ui-bar-a a.ui-link {
    color: #FFFFFF;
    font-weight: 700;
}