{% load i18n pages_tags %}


{% spaceless %}
{% if page_branch %}
{% for page in page_branch %}
<div id="mobilemenu">
	{% if page.is_primary and forloop.first %}
	<nav>
    <ul data-role="navbar" data-inset="true">
    {% endif %}

		{% if page.is_current_or_ascendant and not page.is_child %}
		{% page_menu page %}
		{% endif %}

		{% if page.is_child %}
		<li>
			<!--<a href="{{ page.get_absolute_url }}" rel="external">{{ page.title }}</a>-->
			<a href="{{ page.get_absolute_url }}" >{{ page.title }}</a>
		</li>
		{% endif %}
	</ul></nav>
	<!--{% if page.is_primary and forloop.last %}
		</ul></nav>
	{% endif %}-->
{% endfor %}
{% endif %}
{% endspaceless %}
</div>
