{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Airports On-Time Performance" %}{% endblock %}
{% block title %}{% trans "Airports On-Time Performance" %}{% endblock %}
{% block meta_keywords %}US Airport On-Time Performance Routes Lookup Flights Delays Cancellation{% endblock %}

{% block main %}
<body>

<table cols = "2",cellpadding = 1px, border = "0">
	<table width = "65%", align = "left">
	<tr><td>
		<h3> Airports On-Time Performance </h3>
		<p> On-Time Performance for U.S. Airports is determined by factors which are attributed to an airport.  The Bureau
		of Transportation Statistics dataset contains the causes of delays and cancellations which can be attributed to  
		U.S. airlines and airports.  Delayed flight causes labeled as "weather delay", "security delay", or "national air service 
		(nas) delay" are attributed to airport on-time performance.  Cancellations labeled as "weather", "national air system", or 
		"security" are also attributed to airports. </br> </br>
		In this way consumers can compare airports for on-time performance before planning their trips. </p>
		<h3> Airport Performance Scores (P-Scores)</h3>
		<p>
		U.S. Airport Performance Scores (P-Scores) are determined by calculating the rate of delays, average length of delay,
		and rate of cancellations attributed to a given airport.  The impact of a cancellation is also given more weight (equivalent to 
		a 12 hour delay time) as compared to a delay.  
		
		This way U.S. Airline performance can be compared or ranked. </br>
		<ul>
			<li><a href= /airports/airports-summary/>Airport On-Time Performance Summary</a> </li>
			<li><a href= /airports/best-performing-airports/>Top Performing Airports</a> </li>
			<li><a href= /airports/worst-performing-airports/>Bottom Performing Airports</a> </li>
		</ul>
		</p>
	</tr></td>
	</table>
	<table width = "30%", align = "right">
	<tr><td>
	<h4> Compare Airports </h4>
	</tr></td>
		<tr><td>
<form action="" method="post">
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {% for error in form.airport1.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select 1st Airport:</label>
        {{ form.airport1 }}
    </div>
    <div class="fieldWrapper">
        {% for error in form.airport2.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select 2nd Airport:</label>
        {{ form.airport2 }}
    </div>
    <input type="submit" value="Submit" />
</form>
		</tr></td>
	</table>
</table>
</body>
{% endblock %}
