{% extends "base.html" %}
{% load i18n %}
{% load chartit %}

{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block extra_head %}
{{ airchart|load_charts:"container" }}
{% endblock %}

{% block main %}
<body>
 <table cols = "2",border = "0">
	<table width = "75%", align = "left">

  <h3>
  {{title2}}
  </h3>
	<th><h4> Rank </h4></th> <th><h4> {{Category}}</h4></th> <th><h4>Delay Rate</h4></th> <th><h4>Average Delay</h4></th> <th><h4> Cancellation Rate</h4></th> <th><h4> P-Score </h4></th>
	
	<tr bgcolor="#DDE2E0">
	<td><h5> 1 </h5></td> <td><h5> <a href={{link1}}>{{a1}}</a> </h5></td> <td align="right"><h5>{{a1delays}} % </h5></td> <td align="right"><h5> {{a1delaylength}} minutes</h5></td> <td align="right"><h5>{{a1cans}} %</h5></td> <td align="right"><h5> {{a1p}} </h5></td>
	</tr>
	<tr>
	<td><h5> 2 </h5></td> <td><h5> <a href={{link2}}>{{a2}}</a>  </h5></td> <td align="right"><h5>{{a2delays}} %</h5></td> <td align="right"><h5> {{a2delaylength}} minutes</h5></td> <td align="right"><h5>{{a2cans}} %</h5></td> <td align="right"><h5> {{a2p}} </h5></td>
	</tr>
	<tr bgcolor="#DDE2E0">
	<td><h5> 3 </h5></td> <td><h5> <a href={{link3}}>{{a3}}</a>  </h5></td> <td align="right"><h5>{{a3delays}} %</h5></td> <td align="right"><h5>  {{a3delaylength}} minutes</h5></td> <td align="right"><h5> {{a3cans}} %</h5></td> <td align="right"><h5>{{a3p}} </h5></td>
	</tr>
	<tr>
	<td><h5> 4 </h5></td> <td><h5> <a href={{link4}}>{{a4}}</a>  </h5></td> <td align="right"><h5> {{a4delays}} %</h5></td> <td align="right"><h5>  {{a4delaylength}} minutes</h5></td> <td align="right"><h5> {{a4cans}} %</h5></td> <td align="right"><h5>{{a4p}} </h5></td>
	</tr>
	<tr bgcolor="#DDE2E0">
	<td><h5> 5 </h5></td> <td><h5> <a href={{link5}}>{{a5}}</a>  </h5></td> <td align="right"><h5>{{a5delays}} %</h5></td> <td align="right"><h5>  {{a5delaylength}} minutes</h5></td> <td align="right"><h5> {{a5cans}} %</h5></td> <td align="right"><h5> {{a5p}} </h5></td>
	</tr>
	<tr>	
	<td><h5>  </h5></td> <td><h5> {{Category}} Average </h5></td> <td align="right"><h5> {{avgDelayRate}} %</h5></td> <td align="right"><h5> {{avgDelayTime}} minutes</h5></td> <td align="right"><h5> {{avgCanRate}} %</h5></td> <td align="right"><h5> {{avgp}} </h5></td>
	</tr>
  </table></br>
<table width = "20%", align = "right">
		<tr><td><br><br><br>
			<p><i> {{statement}}  </i></p>
		</tr></td>
	</table></br>
</table></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br>
  
  <h3>
  {{title3}}
  </h3>
   <div id='container'></div>
  
  </body>
{% endblock %}
