{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Airports Comparison" %}{% endblock %}
{% block title %}{% trans "Airports Comparison" %}{% endblock %}

{% block main %}
  <body>
  <form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {% for error in form.airport1.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select 1st Airport:</label>
        {{ form.airport1 }}
    </div>
    <div class="fieldWrapper">
        {% for error in form.airport2.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select 2nd Airport:</label>
        {{ form.airport2 }}
    </div>
    <input type="submit" value="Submit" />
</form>
</body>
{% endblock %}
