{% extends "base.html" %}
{% load i18n %}
{% load chartit %}

{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block extra_head %}
{{ cht_list|load_charts:"c1" }}
{% endblock %}

{% block main %}
  <body>
  <table border = "0">
  <h2>
  {{title2}}
  </h2>
	<th><h4> {{Category}}</h4></th> <th><h4>Delay Rate</h4></th> <th><h4>Average Delay Length</h4></th> <th><h4> Cancellation Rate</h4></th> <th><h4> P-Score </h4></th>
	
	<tr bgcolor="#DDE2E0">
	<td><h5> {{air1_title}} </h5></td> <td><h5> {{air1_delays}}% </h5></td> <td align="right"><h5>{{air1_delay_time}} minutes </h5></td> <td align="right"><h5> {{air1_can}}%</h5></td> <td align="right"><h5>{{a1cans}} %</h5></td> <td align="right"><h5> {{a1p}} </h5></td>
	</tr>
	<tr>
	<td><h5> {{air2_title}} </h5></td> <td><h5> {{air2_delays}}% </h5></td> <td align="right"><h5>{{air2_delay_time}} minutes </h5></td> <td align="right"><h5> {{air2_can}}%</h5></td> <td align="right"><h5>{{a1cans}} %</h5></td> <td align="right"><h5> {{a1p}} </h5></td>
	</tr>
	</table>
	
	<h2>
		{{title3}}
	</h2>
     <div id='c1'></div>

  </body>
 
{% endblock %}
