{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block main %}
<body>
    <form action="" method="post">{% csrf_token %}
      <table>
        <tr>
          <td>
            {{ form.as_p }}
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>
  </body>

{% endblock %}
