{% extends "base.html" %}
{% load i18n %}
{% load chartit %}

{% block meta_title %} {{title}}{% endblock %}
{% block meta_keywords %}
airline delays statistics, airport delays statistics,
airline cancellations statistics, airport cancellations statistics
Fly on time,
on time flight statistics, performance,
airline information, airport information,
on time flight performance,
on time flight statistics,
on time flight trends,
flight delay causes, flight cancellation causes
flight delay history, 
flight cancellation history
{% endblock %}
{% block title %} <h2><i>Be Informed, Avoid Flight Delays and Fly On Time</i></h2>  {% endblock %}

{% block extra_head %}
 <meta charset="utf-8" />
<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
{% load staticfiles %}
{% if cht_list %}
{{ cht_list|load_charts:"c1,c2" }}
{% endif %}
{% endblock %}

{% block main %}
<body>
<table cols = "2",cellpadding = 1px, border = "0">
	<table width = "55%", align = "left">
		<tr><td  align="left">
		<h3> Getting Started </h3>	
		<p> 
		Do you know the causes of flight delays and cancellations are tracked for both airports and airlines?
		Save travel time by understanding the likelihood of delays and cancellations attributed to 
		<a href= /airlines/>Airlines</a> and to <a href= /airports/>Airports</a>.</br>
		</br>
		Optimize your trip by knowing the <a href= /airlines/best-performing-airlines/>best</a> and  <a href= /airlines/worst-performing-airlines/>worst</a> airlines or the 
		<a href= /airports/best-performing-airports/>best</a> and  <a href= /airports/worst-performing-airports/>worst</a> airports to plan your trip.</br>
		</br>
		Anticipate delays by using the <a href= /lookups/>Airline and Airport </a>combinations, routes, or airline flights lookup.  Or review the latest Airline On-Time
		Performance <a href= /airlines/airlines-3-month-trends/>Trends </a>  
		</p>		
		</td></tr>
<tr><td  align="left">
<h3> Lookup On-Time Performance for airlines, airports, airline/airport combinations, routes, or flights  </h3>

<div id="tabs">
<ul>
<li><a href="#air_lookup">Lookup Airlines/Airports</a></li>
<li><a href="#routes_lookup">Lookup Routes</a></li>
<li><a href="#flights_lookup">Lookup Flights</a></li>
</ul>
<div id="air_lookup">

	<form action="/lookups/airlineairport-lookup/" method="post">
      <table>
        <tr>
          <td>
            {{ Form1.as_p }}
          </td>
        </tr>
      </table>

      <input type="submit" name="air_lookup" value="Submit">
	</form>
</div>

<div id="routes_lookup">
<form action="/lookups/route-lookup/" method="post">
    <div class="fieldWrapper">
        {% for error in Form2.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in Form2.origin_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Origin Airport:</label>
        {{ Form2.origin_airport }}
    </div>
    <div class="fieldWrapper">
          {% for error in Form2.destination_airport.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Select Destination Airport:</label>
        {{ Form2.destination_airport }}
    </div>
    <input type="submit" name="routes_lookup" value="Submit" />
	</div>
</form>
</div>

<div id="flights_lookup">
<form action="/lookups/flight-lookup/" method="post">
    <div class="fieldWrapper">
        {% for error in Form3.non_field_errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
    <div class="fieldWrapper">
        {% for error in Form3.airline.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_subject">Select Airline:</label>
        {{ Form3.airline }}
    </div>
    <div class="fieldWrapper">
          {% for error in Form3.flight_number.errors %}
		<div class="errorlist"><strong>{{ error }}</strong></div>
		{% endfor %}
        <label for="id_message">Flight Number:</label>
        {{ Form3.flight_number }}
    </div>
		<input type="submit" name="flights_lookup" value="Submit" />
	</div>
</form>
</div>
</div>
</td></tr>
	</table>

	<table width = "40%", align = "right">
		<tr><td>
		<div id='c1'></div></br>
		
		<div id='c2'></div></br>
		</tr></td>
	</table></br>
</table></br>

{% endblock %}
<!-- {% block left_panel %}


{% endblock %} -->
