{% extends "base.html" %}
{% load i18n %}
{% load chartit %}

{% block meta_title %} {{title}} {% endblock %}
{% block title %} {{title}} {% endblock %}
{% block meta_keywords %}US Airline Airport On-Time Performance Routes Lookup Flights Delays Cancellation{% endblock %}

{% block extra_head %}
{{ cht_list|load_charts:"c1,c2" }}
{% endblock %}

{% block main %}
<body>

<table cols = "2",cellpadding = 1px, border = "0" >
	<table width = "50%", align = "left">
	<th><h3> Average On-Time Performance </h3></th>
  	<tr bgcolor="#DDE2E0">
	<td width = "70%" align="left"><h4> Average Cancellation Rate </h4></td> <td width="30%" align="right"><h4> {{avgCanRate}} %</h4></td> 
	</tr>
	<tr>
	<td width = "70%" align="left"><h4> Average Delay Rate </h4></td> <td width="30%" align="right"><h4> {{avgDelayRate}} %</h4></td> 
	</tr>
	<tr bgcolor="#DDE2E0">
	<td width = "70%" align="left"><h4> Average Length of Delay </h4></td> <td width="30%" align="right"><h4> {{avgDelayTime}} Minutes</h4></td> 
	</tr>
	<tr>
	<td width = "70%" align="left"><h4><strong> Average On-Time P-Score </strong></h4></td> <td width="30%" align="right"><h4> {{avgPscore}}</h4></td> 
	</tr>
	</table>
	
	<table width = "45%" align = "right">
		<tr><td><br><br><br>
			<p><i> {{statement}}  </i></p>
		</tr></td>
	</div>
	</table></br>
</table></br></br></br></br></br></br></br></br></br></br></br></br></br>

	<h3>
		{{title2}}
	</h3>
  <div id='c1'></div>
  <h3>
		{{title3}}
	</h3>
  <div id='c2'></div>
  </body>
  
  
{% endblock %}
