{% extends "base.html" %}
{% load i18n %}


{% block meta_title %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block extra_head %}
{% load staticfiles %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
	  var new_data = {{adata|safe}}
      function drawChart() {
        var data = google.visualization.arrayToDataTable(new_data);

        var options = {
          hAxis: {title: 'Cancellations Rate (%)' },
          vAxis: {title: 'Delays Rate (%)' },
          colorAxis: {colors: ['#2f7ed8','#000033'], legend:{position:['none']}},
          bubble: {textStyle: {fontSize: 11 }},
		  sizeAxis: {minSize: 20, maxSize: 80, maxValue: 40},
		  chartArea: {width: '90%', height: '90%'},
		legend: {position: 'in'},
		titlePosition: 'out', axisTitlesPosition: 'out'
		
        };

        var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block main %}
<body>
<table>
	<tr>
	<td><h5><div id="chart_div" style="width: 850px; height: 800px;"></div></td>
	<td><h5>Legend<ul>
			{% for e in legend %}
			<a href={{e.1}}> {{e.0}}  </a></br>
			{% endfor %}
			</h5></ul>
		</td>
	</tr>
</table>				
</body>
{% endblock %}
